@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #000000;
    overflow-y: auto;
    overflow-x: hidden;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.gradient-01 {
    background-image: radial-gradient(circle, rgb(39,39,39) 0%, rgb(0,0,0) 100%);
    background-image: -moz-radial-gradient(circle, rgb(39,39,39) 0%, rgb(0,0,0) 100%);
    background-image: -webkit-radial-gradient(circle, rgb(39,39,39) 0%, rgb(0,0,0) 100%);
    filter: blur(150px);
  }

  .gradient-02 {
    background-image: radial-gradient(circle, rgb(42,42,42) 0%, rgb(0,0,0) 100%);
    background-image: -moz-radial-gradient(circle, rgb(42,42,42) 0%, rgb(0,0,0) 100%);
    background-image: -webkit-radial-gradient(circle, rgb(42,42,42) 0%, rgb(0,0,0) 100%);
    filter: blur(150px);
  }